
.card-header{
    font-size: xx-large;
    font-weight: bold;
}
.card-body{
    font-size: large;
}

#name{
    font-size: large;
}
#password{
    font-size: large;
}
#register-button{
    font-size: large;
}
#Display{
    font-size: large;
}
#confirm-password{
    font-size: large;
}