.darkblue{
    background-color: #0f313b;
}
.beige{
    background-color: #f1f0ee;
}
.lightgreen{
    background-color: #2ebda9;
}
.khakigreen{
    background-color: #61817f;
}
.navyblue{
    background-color: #3970bd;
}